# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.db
.env

# Flutter
app/build/
app/.dart_tool/
app/.flutter-plugins*
app/android/.gradle/
app/android/local.properties
app/ios/Pods/
app/ios/.symlinks/
app/ios/Flutter/ephemeral/
*.jks
!keystore*.jks

# Media local
backend/uploads/*
!backend/uploads/.gitkeep

# OS
.DS_Store